.clear-btn{
    height: 4em;
    display:flex;
    justify-items: center;
    justify-content:center;
    align-items:center;
    font-size: 1.5em;
    font-weight: lighter;
    background-color: rgb(197, 79, 0);
    color: rgb(0, 0, 0);
    flex: 1; 
    outline: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    
}

